In [1]:
import numpy as np
import pandas as pd
import json
import gzip
import seaborn as sns
import os
%matplotlib inline

In [2]:
data_dir = '/Users/Christy/Desktop/242/Project/'
profiles_path = os.path.join(data_dir, 'linkedin.json')
print(os.listdir(data_dir))

['linkedin.edges', 'Lecture8-DataScience.pdf', 'secondary data.csv', 'linkedin.nodes', '.ipynb_checkpoints', 'Exploratory Data Analysis.ipynb', 'linkedin.json']

In [3]:
fields = set()
localities = []
industries = []
skills = []
specialities = []
interests = []
occupations = []
companies = []
schools = []
majors = []

for line in open(profiles_path):
    line = json.loads(line)
    
    fields.update(line.keys())
    
    localities.append(line['locality'] if 'locality' in line else '')
    industries.append(line['industry'] if 'industry' in line else '')
    skills.extend(line['skills'] if 'skills' in line else [])
    specialities.extend([s.strip() for s in line['specilities'].split(',')] if 'specilities' in line else [])
    interests.extend([s.strip() for s in line['interests'].split(',')] if 'interests' in line else [])
    occupations.extend([exp['title'] for exp in line['experience'] if 'title' in exp] if 'experience' in line else [])
    companies.extend([exp['org'] for exp in line['experience'] if 'org' in exp] if 'experience' in line else [])
    schools.extend([edu['name'] for edu in line['education'] if 'name' in edu] if 'education' in line else [])
    majors.extend([edu['major'] for edu in line['education'] if 'major' in edu] if 'education' in line else [])
    
print('JSON fields', len(fields), fields)

JSON fields 18 {'skills', 'name', 'specilities', 'honors', 'summary', 'education', 'experience', 'locality', 'url', 'industry', 'overview_html', 'group', 'also_view', 'events', '_id', 'homepage', 'interval', 'interests'}

In [4]:
skills = pd.Series(list(skills)).value_counts()
localities = pd.Series(list(localities)).value_counts()
industries = pd.Series(list(industries)).value_counts()
specialities = pd.Series(list(specialities)).value_counts()
interests = pd.Series(list(interests)).value_counts()
occupations = pd.Series(list(occupations)).value_counts()
companies = pd.Series(list(companies)).value_counts()
schools = pd.Series(list(schools)).value_counts()
majors = pd.Series(list(majors)).value_counts()

print(len(skills))
print(len(localities))
print(len(industries))
print(len(specialities))
print(len(interests))
print(len(occupations))
print(len(companies))
print(len(schools))
print(len(majors))

653628
24598
2646
861527
557665
3500534
3787170
864915
733611

In [31]:
num_profiles_loaded = 1000
profiles = []

for line in open(profiles_path):
    if len(profiles) < num_profiles_loaded:
        line = json.loads(line)
        profiles.append(line)
    else:
        break
        
print('Examples primary keys', [p['_id'] for p in profiles[:10]])

Examples primary keys ['in-00000001', 'in-00001', 'in-00006', 'in-000montgomery', 'in-000vijaychauhan', 'in-001adambutler', 'in-001monica', 'in-001neilpeacock', 'in-00666', 'in-00789123']

In [11]:
import csv

In [19]:
csvfile = "/Users/Christy/Desktop/242/Project/1000profiles.csv"

In [74]:
#Count the max number of columns/keys here 
# result: max column is 18
maxNum = 0 
for i in profiles:
    num = len(i.keys())
    # add the number of columns to the dict
    i['numCol']=num
    if num>maxNum:
        maxNum=num

In [79]:
maxItem = max(profiles,key=lambda x:x['numCol'])
maxItem.keys()

dict_keys(['_id', 'interests', 'education', 'group', 'name', 'overview_html', 'locality', 'skills', 'industry', 'interval', 'experience', 'summary', 'honors', 'url', 'also_view', 'specilities', 'homepage', 'events', 'numCol'])

In [69]:
with open(csvfile, 'w') as f: 
    for i in profiles:
        w = csv.DictWriter(f, i.keys())
        w.writeheader()
        w.writerow(i)

In [114]:
df = pd.DataFrame()
count=0
# 5 columns 
# find the key - value 
for i in profiles: 
    if "experience" and "education" and "skills" in i:
        count+=1
        df1 = pd.DataFrame.from_dict(i,orient='index')
        df1=df1.transpose()
        df.append(df1,ignore_index=True)

In [104]:
df2 = pd.DataFrame.from_dict(profiles[1],orient='index')

In [113]:
df2=df2.transpose()
df2

,_id,education,group,name,overview_html,locality,skills,industry,interval,experience,summary,url,also_view,specilities,events,numCol
0,in-00001,"[{'start': '2008', 'major': 'Economics', 'end'...","{'affilition': ['ASMALLWORLD.net', 'Biomarker ...","{'family_name': 'Forslund', 'given_name': 'Ann'}","<dl id=""overview""><dt id=""overview-summary-cur...","Antwerp Area, Belgium","[Molecular Biology, Biomarkers]",Pharmaceuticals,20,"[{'org': 'Johnson and Johnson', 'title': 'Seni...",Ph.D. scientist with background in cancer rese...,http://be.linkedin.com/in/00001,[{'url': 'http://www.linkedin.com/pub/peter-ki...,"Biomarkers in Oncology, Cancer Genomics, Molec...","[{'from': 'Sahlgrenska University Hospital', '...",15

In [7]:
skills_count = skills[skills >= 10]

skills_count = pd.DataFrame(skills_count, columns=['Count'])
skills_count['Skill'] = skills_count.index
skills_count['Rank'] = range(1,len(skills_count)+1)
skills_count['Cumulative Probability'] = np.cumsum(skills_count.Count)/np.sum(skills_count.Count)

print('Number of skills', len(skills_count))
skills_count

Number of skills 33489

,Count,Skill,Rank,Cumulative Probability
Microsoft Office,149914,Microsoft Office,1,0.009359
Strategic Planning,123673,Strategic Planning,2,0.017080
Project Management,115735,Project Management,3,0.024305
Business Strategy,104696,Business Strategy,4,0.030841
Marketing Strategy,96228,Marketing Strategy,5,0.036848
Negotiation,92935,Negotiation,6,0.042650
New Business Development,91805,New Business Development,7,0.048381
Change Management,91090,Change Management,8,0.054067
Sales Management,83066,Sales Management,9,0.059253
Social Media,81731,Social Media,10,0.064355
Customer Service,79410,Customer Service,11,0.069313
Microsoft Excel,77734,Microsoft Excel,12,0.074166
Team Leadership,76692,Team Leadership,13,0.078953
PowerPoint,68052,PowerPoint,14,0.083202
Account Management,62874,Account Management,15,0.087127
English,59601,English,16,0.090848
Research,59427,Research,17,0.094557
Business Analysis,59144,Business Analysis,18,0.098250
Marketing Communications,58700,Marketing Communications,19,0.101914
Product Development,58154,Product Development,20,0.105545
Team Building,57485,Team Building,21,0.109133
Java,54398,Java,22,0.112529
Business Development,54147,Business Development,23,0.115910
Coaching,52619,Coaching,24,0.119195
Microsoft Word,50166,Microsoft Word,25,0.122326
SQL,49789,SQL,26,0.125435
Public Relations,49280,Public Relations,27,0.128511
Team Management,48344,Team Management,28,0.131529
Photoshop,48082,Photoshop,29,0.134531
Recruiting,47805,Recruiting,30,0.137515
...,...,...,...,...
Chemical Handling,10,Chemical Handling,33460,0.999982
GARCH,10,GARCH,33461,0.999983
Mall Management,10,Mall Management,33462,0.999983
Cytokines,10,Cytokines,33463,0.999984
Analytisk,10,Analytisk,33464,0.999984
Vision Mixing,10,Vision Mixing,33465,0.999985
six sigma green belt,10,six sigma green belt,33466,0.999986
Avid DS Nitris,10,Avid DS Nitris,33467,0.999986
Fluxo de Caixa,10,Fluxo de Caixa,33468,0.999987
Accelerator,10,Accelerator,33469,0.999988
Debt Negotiation,10,Debt Negotiation,33470,0.999988
Community manager,10,Community manager,33471,0.999989
Audiovisual,10,Audiovisual,33472,0.999989
Youth Participation,10,Youth Participation,33473,0.999990
Engineering Data Management,10,Engineering Data Management,33474,0.999991
Utility Mapping,10,Utility Mapping,33475,0.999991
Conciliador,10,Conciliador,33476,0.999992
SimpleScalar,10,SimpleScalar,33477,0.999993
Pedestrian Safety,10,Pedestrian Safety,33478,0.999993
Indirect Sourcing,10,Indirect Sourcing,33479,0.999994
Utility Construction,10,Utility Construction,33480,0.999994
Barge,10,Barge,33481,0.999995
Aquisitions,10,Aquisitions,33482,0.999996
Cancer Treatment,10,Cancer Treatment,33483,0.999996
Tivoli Workload Scheduler,10,Tivoli Workload Scheduler,33484,0.999997
SGW,10,SGW,33485,0.999998
Tanner EDA,10,Tanner EDA,33486,0.999998
WSGI,10,WSGI,33487,0.999999
WiMax,10,WiMax,33488,0.999999
Rémunération,10,Rémunération,33489,1.000000

In [8]:
industries_count = industries[industries >= 10]

industries_count = pd.DataFrame(industries_count, columns=['Count'])
industries_count['Industry'] = industries_count.index
industries_count['Rank'] = range(1,len(industries_count)+1)
industries_count['Cumulative Probability'] = np.cumsum(industries_count.Count)/np.sum(industries_count.Count)

print('Number of industries', len(industries_count))
industries_count

Number of industries 2317

,Count,Industry,Rank,Cumulative Probability
Information Technology and Services,167289,Information Technology and Services,1,0.056065
Computer Software,90346,Computer Software,2,0.086343
Financial Services,89304,Financial Services,3,0.116272
,81615,,4,0.143624
Marketing and Advertising,74079,Marketing and Advertising,5,0.168451
Oil & Energy,64818,Oil & Energy,6,0.190173
Telecommunications,54424,Telecommunications,7,0.208413
Banking,47001,Banking,8,0.224165
Human Resources,44230,Human Resources,9,0.238988
Pharmaceuticals,43666,Pharmaceuticals,10,0.253622
Construction,43108,Construction,11,0.268069
Accounting,38963,Accounting,12,0.281127
Retail,37847,Retail,13,0.293811
Internet,37797,Internet,14,0.306478
Management Consulting,36071,Management Consulting,15,0.318566
Hospital & Health Care,34188,Hospital & Health Care,16,0.330024
Insurance,30806,Insurance,17,0.340348
Staffing and Recruiting,29013,Staffing and Recruiting,18,0.350072
Real Estate,28483,Real Estate,19,0.359617
Higher Education,28200,Higher Education,20,0.369068
Automotive,26981,Automotive,21,0.378110
Law Practice,26390,Law Practice,22,0.386955
Research,24784,Research,23,0.395261
Design,24470,Design,24,0.403461
Consumer Goods,24437,Consumer Goods,25,0.411651
Education Management,23616,Education Management,26,0.419566
Hospitality,23468,Hospitality,27,0.427431
Electrical/Electronic Manufacturing,23035,Electrical/Electronic Manufacturing,28,0.435151
Mining & Metals,19591,Mining & Metals,29,0.441716
Mechanical or Industrial Engineering,19359,Mechanical or Industrial Engineering,30,0.448204
...,...,...,...,...
Muzyka,11,Muzyka,2288,0.999903
Magistratură,10,Magistratură,2289,0.999906
정부 행정,10,정부 행정,2290,0.999910
Settore pesca,10,Settore pesca,2291,0.999913
Kamu Güvenliği,10,Kamu Güvenliği,2292,0.999916
Pertahanan & Angkasa,10,Pertahanan & Angkasa,2293,0.999920
요식업,10,요식업,2294,0.999923
E-ラーニング,10,E-ラーニング,2295,0.999926
Politi,10,Politi,2296,0.999930
Rozwiązania bezprzewodowe,10,Rozwiązania bezprzewodowe,2297,0.999933
섬유,10,섬유,2298,0.999936
Bireysel ve Aile Hizmetleri,10,Bireysel ve Aile Hizmetleri,2299,0.999940
방송 미디어,10,방송 미디어,2300,0.999943
환경 서비스,10,환경 서비스,2301,0.999946
Luxusní zboží a klenotnictví,10,Luxusní zboží a klenotnictví,2302,0.999950
Organizacje publiczne i społeczne,10,Organizacje publiczne i społeczne,2303,0.999953
Polizeidienst,10,Polizeidienst,2304,0.999956
Produk Kertas & Perhutanan,10,Produk Kertas & Perhutanan,2305,0.999960
Wadah Pemikir,10,Wadah Pemikir,2306,0.999963
アニメーション,10,アニメーション,2307,0.999966
이벤트 서비스,10,이벤트 서비스,2308,0.999970
Permainan Komputer,10,Permainan Komputer,2309,0.999973
Balírenský a kontejnerový průmysl,10,Balírenský a kontejnerový průmysl,2310,0.999977
Seni Rupa,10,Seni Rupa,2311,0.999980
Lembaga Keagamaan,10,Lembaga Keagamaan,2312,0.999983
Relacje rządowe,10,Relacje rządowe,2313,0.999987
번역 및 현지화,10,번역 및 현지화,2314,0.999990
"Glas-, keramik- och betongbranschen",10,"Glas-, keramik- och betongbranschen",2315,0.999993
Velgørenhed,10,Velgørenhed,2316,0.999997
Полимерная промышленность,10,Полимерная промышленность,2317,1.000000

In [9]:
occupations_count = occupations[occupations >= 10]

occupations_count = pd.DataFrame(occupations_count, columns=['Count'])
occupations_count['Occupations'] = occupations_count.index
occupations_count['Rank'] = range(1,len(occupations_count)+1)
occupations_count['Cumulative Probability'] = np.cumsum(occupations_count.Count)/np.sum(occupations_count.Count)

print('Number of occupations', len(occupations_count))
occupations_count

Number of occupations 56823

,Count,Occupations,Rank,Cumulative Probability
Owner,75722,Owner,1,0.014272
Project Manager,68503,Project Manager,2,0.027182
Consultant,64052,Consultant,3,0.039255
Director,59652,Director,4,0.050497
Intern,55371,Intern,5,0.060933
Account Manager,40761,Account Manager,6,0.068616
Software Engineer,39704,Software Engineer,7,0.076099
Manager,36578,Manager,8,0.082993
Managing Director,35297,Managing Director,9,0.089645
General Manager,31269,General Manager,10,0.095538
President,29705,President,11,0.101137
Sales Manager,28322,Sales Manager,12,0.106475
CEO,27166,CEO,13,0.111595
Associate,26604,Associate,14,0.116609
Account Executive,24944,Account Executive,15,0.121310
Partner,23769,Partner,16,0.125790
Senior Consultant,22833,Senior Consultant,17,0.130094
Vice President,21734,Vice President,18,0.134190
Business Development Manager,21351,Business Development Manager,19,0.138214
Marketing Manager,20621,Marketing Manager,20,0.142100
Product Manager,19227,Product Manager,21,0.145724
Research Assistant,18936,Research Assistant,22,0.149293
Software Developer,17347,Software Developer,23,0.152563
Business Analyst,17328,Business Analyst,24,0.155828
Analyst,15353,Analyst,25,0.158722
Operations Manager,14982,Operations Manager,26,0.161546
Trainee,14979,Trainee,27,0.164369
Project Engineer,14877,Project Engineer,28,0.167173
Senior Software Engineer,13572,Senior Software Engineer,29,0.169731
Engineer,13471,Engineer,30,0.172270
...,...,...,...,...
Gestionnaire de Projets,10,Gestionnaire de Projets,56794,0.999945
Web Marketer,10,Web Marketer,56795,0.999947
analista de control de calidad,10,analista de control de calidad,56796,0.999949
General Manager (Marketing),10,General Manager (Marketing),56797,0.999951
werkcoach,10,werkcoach,56798,0.999953
Senior Service Account Manager,10,Senior Service Account Manager,56799,0.999955
Regional Associate,10,Regional Associate,56800,0.999957
Sales & Engineering Manager,10,Sales & Engineering Manager,56801,0.999959
Activity Assistant,10,Activity Assistant,56802,0.999960
Insurance adviser,10,Insurance adviser,56803,0.999962
Channel Sales Account Manager,10,Channel Sales Account Manager,56804,0.999964
Tecnico de mantenimiento,10,Tecnico de mantenimiento,56805,0.999966
SAS Programmer/Analyst,10,SAS Programmer/Analyst,56806,0.999968
Works Supervisor,10,Works Supervisor,56807,0.999970
Land Development,10,Land Development,56808,0.999972
Legal Counsel & Company Secretary,10,Legal Counsel & Company Secretary,56809,0.999974
Locum Optometrist,10,Locum Optometrist,56810,0.999975
Assistant Group Leader,10,Assistant Group Leader,56811,0.999977
Senior Digital Account Executive,10,Senior Digital Account Executive,56812,0.999979
Consulente Risorse Umane,10,Consulente Risorse Umane,56813,0.999981
Analista programador java,10,Analista programador java,56814,0.999983
Corporate Human Resources Generalist,10,Corporate Human Resources Generalist,56815,0.999985
Field Human Resources Manager,10,Field Human Resources Manager,56816,0.999987
"Managing Director, Operations",10,"Managing Director, Operations",56817,0.999989
Senior Student Ambassador,10,Senior Student Ambassador,56818,0.999991
organiser,10,organiser,56819,0.999992
Managed Services Specialist,10,Managed Services Specialist,56820,0.999994
"Business Development Director, Europe",10,"Business Development Director, Europe",56821,0.999996
Programador COBOL,10,Programador COBOL,56822,0.999998
Human Resource Development Manager,10,Human Resource Development Manager,56823,1.000000

In [10]:
companies_count = companies[companies >= 10]

companies_count = pd.DataFrame(companies_count, columns=['Count'])
companies_count['Companies'] = companies_count.index
companies_count['Rank'] = range(1,len(companies_count)+1)
companies_count['Cumulative Probability'] = np.cumsum(companies_count.Count)/np.sum(companies_count.Count)

print('Number of companies', len(companies_count))
companies_count

Number of companies 87979

,Count,Companies,Rank,Cumulative Probability
IBM,21927,IBM,1,0.004894
Ernst & Young,16914,Ernst & Young,2,0.008670
Accenture,15755,Accenture,3,0.012186
Microsoft,12929,Microsoft,4,0.015072
Hewlett-Packard,11680,Hewlett-Packard,5,0.017679
Deloitte,11557,Deloitte,6,0.020259
KPMG,10411,KPMG,7,0.022582
Procter & Gamble,10222,Procter & Gamble,8,0.024864
Unilever,10155,Unilever,9,0.027131
PricewaterhouseCoopers,9190,PricewaterhouseCoopers,10,0.029182
PwC,9023,PwC,11,0.031196
Freelance,8317,Freelance,12,0.033052
HSBC,8260,HSBC,13,0.034896
Schlumberger,7953,Schlumberger,14,0.036671
Ericsson,7698,Ericsson,15,0.038390
GlaxoSmithKline,7541,GlaxoSmithKline,16,0.040073
Pfizer,7136,Pfizer,17,0.041666
Nokia,7060,Nokia,18,0.043241
Oracle,6811,Oracle,19,0.044762
Google,6712,Google,20,0.046260
Novartis,6127,Novartis,21,0.047627
Tata Consultancy Services,6110,Tata Consultancy Services,22,0.048991
Johnson & Johnson,6107,Johnson & Johnson,23,0.050354
Bank of America,5988,Bank of America,24,0.051691
Deutsche Bank,5930,Deutsche Bank,25,0.053014
Dell,5620,Dell,26,0.054269
Cisco Systems,5515,Cisco Systems,27,0.055500
BP,5310,BP,28,0.056685
Kraft Foods,5281,Kraft Foods,29,0.057864
Shell,5145,Shell,30,0.059012
...,...,...,...,...
BI Norwegian School of Management,10,BI Norwegian School of Management,87950,0.999935
Metrocall,10,Metrocall,87951,0.999938
Shade VFX,10,Shade VFX,87952,0.999940
Arrium Mining and Materials,10,Arrium Mining and Materials,87953,0.999942
Banca Caboto,10,Banca Caboto,87954,0.999944
SPS International,10,SPS International,87955,0.999946
JP Morgan Cazenove,10,JP Morgan Cazenove,87956,0.999949
BBC Resources,10,BBC Resources,87957,0.999951
Scots Guards,10,Scots Guards,87958,0.999953
"Deltek, Inc.",10,"Deltek, Inc.",87959,0.999955
MLB Network,10,MLB Network,87960,0.999958
Barloworld Automotive,10,Barloworld Automotive,87961,0.999960
Alithis,10,Alithis,87962,0.999962
MDL Information Systems,10,MDL Information Systems,87963,0.999964
Voges Group,10,Voges Group,87964,0.999967
Michelin Tyre Plc,10,Michelin Tyre Plc,87965,0.999969
ETEM S.A.,10,ETEM S.A.,87966,0.999971
Insight Schools,10,Insight Schools,87967,0.999973
United Fire Group,10,United Fire Group,87968,0.999975
MGM International,10,MGM International,87969,0.999978
Heroku,10,Heroku,87970,0.999980
Irvine Unified School District,10,Irvine Unified School District,87971,0.999982
FORTIS BANK,10,FORTIS BANK,87972,0.999984
Avanza,10,Avanza,87973,0.999987
AssuraMed,10,AssuraMed,87974,0.999989
YMCA of Greater Houston,10,YMCA of Greater Houston,87975,0.999991
SDF,10,SDF,87976,0.999993
Sony Italia,10,Sony Italia,87977,0.999996
tango.me,10,tango.me,87978,0.999998
Ford Credit Australia Ltd,10,Ford Credit Australia Ltd,87979,1.000000

In [11]:
schools_count = schools[schools >= 10]

schools_count = pd.DataFrame(schools_count, columns=['Count'])
schools_count['Schools'] = schools_count.index
schools_count['Rank'] = range(1,len(schools_count)+1)
schools_count['Cumulative Probability'] = np.cumsum(schools_count.Count)/np.sum(schools_count.Count)

print('Number of schools', len(schools_count))
schools_count

Number of schools 26071

,Count,Schools,Rank,Cumulative Probability
Fundação Getúlio Vargas,7808,Fundação Getúlio Vargas,1,0.002708
University of Mumbai,7615,University of Mumbai,2,0.005350
Universidad Complutense de Madrid,7543,Universidad Complutense de Madrid,3,0.007966
Universidad de Buenos Aires,6802,Universidad de Buenos Aires,4,0.010325
University of Toronto,6650,University of Toronto,5,0.012632
University of Phoenix,6191,University of Phoenix,6,0.014779
Delhi University,6065,Delhi University,7,0.016883
"University of California, Berkeley",6017,"University of California, Berkeley",8,0.018970
University of Michigan,5859,University of Michigan,9,0.021002
The University of Texas at Austin,5854,The University of Texas at Austin,10,0.023033
University of Cambridge,5737,University of Cambridge,11,0.025022
Stanford University,5726,Stanford University,12,0.027009
Universiteit van Amsterdam,5698,Universiteit van Amsterdam,13,0.028985
University of Illinois at Urbana-Champaign,5693,University of Illinois at Urbana-Champaign,14,0.030960
McGill University,5423,McGill University,15,0.032841
Cornell University,5396,Cornell University,16,0.034712
Universiteit Utrecht,5393,Universiteit Utrecht,17,0.036583
Penn State University,5383,Penn State University,18,0.038450
Universidade de São Paulo,5277,Universidade de São Paulo,19,0.040280
Monash University,5249,Monash University,20,0.042101
Katholieke Universiteit Leuven,5180,Katholieke Universiteit Leuven,21,0.043898
University of New South Wales,4841,University of New South Wales,22,0.045577
New York University,4694,New York University,23,0.047205
Rijksuniversiteit Groningen,4670,Rijksuniversiteit Groningen,24,0.048825
Politecnico di Milano,4669,Politecnico di Milano,25,0.050444
Universidad Politécnica de Madrid,4632,Universidad Politécnica de Madrid,26,0.052051
University of Pune,4625,University of Pune,27,0.053655
Purdue University,4603,Purdue University,28,0.055252
Michigan State University,4600,Michigan State University,29,0.056847
University of Sydney,4596,University of Sydney,30,0.058441
...,...,...,...,...
Coach University,10,Coach University,26042,0.999899
Churston Grammar School,10,Churston Grammar School,26043,0.999903
Universitas Telefonica,10,Universitas Telefonica,26044,0.999906
ETE LAURO GOMES,10,ETE LAURO GOMES,26045,0.999910
IAT,10,IAT,26046,0.999913
Dexter High School,10,Dexter High School,26047,0.999917
Goole Grammar School,10,Goole Grammar School,26048,0.999920
Colégio Teresiano,10,Colégio Teresiano,26049,0.999924
Pio XII,10,Pio XII,26050,0.999927
Universitatea Tehnica 'Gh. Asachi' din Iasi,10,Universitatea Tehnica 'Gh. Asachi' din Iasi,26051,0.999931
Mountbatten,10,Mountbatten,26052,0.999934
Alethea International School,10,Alethea International School,26053,0.999938
Cuyahoga Falls High School,10,Cuyahoga Falls High School,26054,0.999941
HBO Bouwkunde,10,HBO Bouwkunde,26055,0.999945
Høgskolen i Agder,10,Høgskolen i Agder,26056,0.999948
elementary school,10,elementary school,26057,0.999951
Vaucluse High School,10,Vaucluse High School,26058,0.999955
Thurston Upper School,10,Thurston Upper School,26059,0.999958
Beaverwood School for Girls,10,Beaverwood School for Girls,26060,0.999962
Московский Государственный Университет Инженерной Экологии (МГУИЭ),10,Московский Государственный Университет Инженер...,26061,0.999965
Mavo 4,10,Mavo 4,26062,0.999969
South Glamorgan Institute of Higher Education,10,South Glamorgan Institute of Higher Education,26063,0.999972
Lunghwa University of Science and Technology,10,Lunghwa University of Science and Technology,26064,0.999976
"St Edward's School, Oxford",10,"St Edward's School, Oxford",26065,0.999979
Centro Universitário Cândido Rondon,10,Centro Universitário Cândido Rondon,26066,0.999983
Uludağ University,10,Uludağ University,26067,0.999986
Pakistan Steel Cadet College,10,Pakistan Steel Cadet College,26068,0.999990
dav,10,dav,26069,0.999993
Gymnasiet Lärkan,10,Gymnasiet Lärkan,26070,0.999997
Beaconhouse National University,10,Beaconhouse National University,26071,1.000000

In [12]:
majors_count = majors[majors >= 10]

majors_count = pd.DataFrame(majors_count, columns=['Count'])
majors_count['Majors'] = majors_count.index
majors_count['Rank'] = range(1,len(majors_count)+1)
majors_count['Cumulative Probability'] = np.cumsum(majors_count.Count)/np.sum(majors_count.Count)

print('Number of majors', len(majors_count))
majors_count

Number of majors 16376

,Count,Majors,Rank,Cumulative Probability
Computer Science,60186,Computer Science,1,0.032916
Marketing,49475,Marketing,2,0.059974
Economics,43383,Economics,3,0.083701
Finance,33985,Finance,4,0.102287
Mechanical Engineering,33410,Mechanical Engineering,5,0.120559
Business Administration,32054,Business Administration,6,0.138090
Accounting,31414,Accounting,7,0.155270
Law,27550,Law,8,0.170338
Business,21372,Business,9,0.182026
Psychology,19873,Psychology,10,0.192895
Management,19690,Management,11,0.203663
Electrical Engineering,19488,Electrical Engineering,12,0.214321
Information Technology,16263,Information Technology,13,0.223216
Civil Engineering,15724,Civil Engineering,14,0.231815
"Business Administration and Management, General",15312,"Business Administration and Management, General",15,0.240189
Chemical Engineering,14426,Chemical Engineering,16,0.248079
Chemistry,12898,Chemistry,17,0.255133
Business Management,12487,Business Management,18,0.261962
English,11848,English,19,0.268442
Commerce,11817,Commerce,20,0.274905
Engineering,11616,Engineering,21,0.281258
Science,11178,Science,22,0.287371
Mathematics,10636,Mathematics,23,0.293188
Computer Engineering,10270,Computer Engineering,24,0.298805
Architecture,10267,Architecture,25,0.304420
Physics,10222,Physics,26,0.310010
International Business,9873,International Business,27,0.315410
Project Management,9221,Project Management,28,0.320453
Political Science,8686,Political Science,29,0.325203
Industrial Engineering,8210,Industrial Engineering,30,0.329693
...,...,...,...,...
Specialization,10,Specialization,16347,0.999841
HBS,10,HBS,16348,0.999847
Mechanical Engineering (Hons),10,Mechanical Engineering (Hons),16349,0.999852
Geology/Geochemistry,10,Geology/Geochemistry,16350,0.999858
Desenho,10,Desenho,16351,0.999863
Gestión cultural,10,Gestión cultural,16352,0.999869
Busniess Administration,10,Busniess Administration,16353,0.999874
Informatics engineering,10,Informatics engineering,16354,0.999880
Controle de Qualidade,10,Controle de Qualidade,16355,0.999885
Civil and Transportation Engineering,10,Civil and Transportation Engineering,16356,0.999891
Inmobiliario,10,Inmobiliario,16357,0.999896
"Economics, Accounting & Finance",10,"Economics, Accounting & Finance",16358,0.999902
"Biology, Neuroscience",10,"Biology, Neuroscience",16359,0.999907
Criminology/Sociology,10,Criminology/Sociology,16360,0.999912
"Finance, Supply Chain Management",10,"Finance, Supply Chain Management",16361,0.999918
Summer Program,10,Summer Program,16362,0.999923
Landscape,10,Landscape,16363,0.999929
Latin - Sciences,10,Latin - Sciences,16364,0.999934
Laurea in Giurisprudenza,10,Laurea in Giurisprudenza,16365,0.999940
Psychology and Law,10,Psychology and Law,16366,0.999945
Mathematics and computer science,10,Mathematics and computer science,16367,0.999951
Plant Ecology,10,Plant Ecology,16368,0.999956
"Spanish, International Studies",10,"Spanish, International Studies",16369,0.999962
Corrections,10,Corrections,16370,0.999967
Practical Legal Training,10,Practical Legal Training,16371,0.999973
Moderne Bedrijfsadministratie,10,Moderne Bedrijfsadministratie,16372,0.999978
Industrias Agrarias,10,Industrias Agrarias,16373,0.999984
"Business Administration, Entrepreneurship",10,"Business Administration, Entrepreneurship",16374,0.999989
Applied Business Management,10,Applied Business Management,16375,0.999995
Project Management Certificate Program,10,Project Management Certificate Program,16376,1.000000